# Dependencies
node_modules/
**/node_modules/
vendor/
**/vendor/

# Angular & Frontend
.angular/
**/dist/
**/coverage/

# .NET & IDE
bin/
obj/
**/bin/
**/obj/
.vs/
TestResults/

# Environment & Logs
*.env
.env
*.log
*.sqlite